
  .menu{
    background-color:white;
    position: fixed;
    top: 12%;
    left: 0;
    width: 150px;
    height: 100%;
    padding: 22px 1px;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: bolder;
    
}
