header {
    width: 100%;
    background-color: #0a38b9;
    padding: 9px;
    text-align: left;
    font-size: 20px;
    color: white;
    border-color: black;
    font-weight: bolder;
  }
.btnh
{
    margin-left:95%;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    
}
.hmain{
    font-weight: bolder;
    font-size: 21px;
    color: white;
}

